@using NumberSortingWebApp.Library.Alert;
@using NumberSortingWebApp.Library.Algorithm.Sorting;
@model ListViewModel
@{
    ViewData["Title"] = "Number Sorting Job List";
}

@if (Model.Alert != null)
{
    <div class="alert alert-@Model.Alert.Type" role="alert">
        @Model.Alert.Message
    </div>
}
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numbers</th>
                <th scope="col">Sort Direction</th>
                <th scope="col">Time Taken (ms)</th>
                <th scope="col">Progress</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sortedNumberRow in Model.sortedNumberRowList)
            {
                <tr>
                    <td>@sortedNumberRow.SortedArray</td>
                    <td>@(sortedNumberRow.SortDirection.ToString())</td>
                    <td>@sortedNumberRow.TimeTaken</td>
                    <td>@(sortedNumberRow.IsSorted == true ? "Completed" : "In Progress")</td>
                    <td><button value="Export">Export</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-left">
    <a asp-area="" asp-controller="NumberSorting" asp-action="New" class="btn btn-primary btn-sm">New Sort</a>
</div>